table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

th {
  background-color: var(--bs-dark);
  color: var(--bs-white);
  padding: 0 0.2rem;
}

td {
  cursor: pointer;
}

@media (min-width: 768px) {
  table {
    font-size: large;
  }

  th {
    padding: 0.7rem 0.5rem;
  }
}
