:root {
  --bs-primary: var(--bs-blue);
  --bs-secondary: var(--bs-gray-600);
  --bs-info: var(--bs-cyan);
  --bs-warning: var(--bs-yellow);
  --bs-dark: var(--bs-gray-900);
  --bs-white: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding-top: 8rem;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: var(--bs-primary);
  text-align: center;
  color: var(--bs-white);
  font-size: 3rem;
  padding: 2rem 0;
}

.page-content {
  display: flex;
  flex: 1;
  height: calc(100vh - 8rem);
}

ul {
  list-style-type: none;
  padding-left: 0 !important;
}

aside {
  width: 20rem;
  padding: 2rem;
  background-color: var(--bs-secondary);
  position: fixed;
  top: 7.5rem;
  bottom: 0;
  overflow-y: auto;
  z-index: 900;
}

aside nav ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

aside nav ul li {
  font-size: 2rem;
  font-weight: bold;
  color: var(--bs-white);
}

.main-page {
  margin-left: 320px;
  flex: 1;
  overflow-y: auto;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
}

.lead-status {
  font-size: 1.5rem;
}

.quick-filters ul {
  gap: 0.5rem;
  display: flex;
}
.quick-filters li {
  flex: 1;
}
.quick-filters li .btn {
  width: 100%;
}
/* 
.quick-filters ul li:last-child {
  margin-left: auto;
} */

.link {
  text-decoration: none;
  color: inherit;
}

.lead-details {
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.comment-section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
@media (max-width: 868px) {
  .page-content {
    flex-direction: column;
    height: auto;
  }

  aside {
    width: 100%;
    position: relative;
    top: 0;
    bottom: auto;
    padding: 1rem;
    margin-top: 0;
  }

  .main-page {
    margin-left: 0;
    width: 100%;
    margin-top: 0;

    .quick-filters ul {
      gap: 0.5rem;
      display: flex;
      flex-direction: column;
      /* flex-wrap: wrap; */
    }
    .quick-filters ul li:last-child {
      margin-left: 0;
    }
  }
}
